
  <!-- Navbar -->
   <%-include('./partials/topnav') %>

  <!-- Sidebar -->
  <%-include('./partials/sidenav') %>

  <!-- Main Content -->
  <div class="container-fluid mt-4">
    <div class="row">
      <!-- Static Sidebar -->
      <div class="col-lg-3 d-none d-lg-block">
          <%-include('./partials/staticsidebar') %>
      </div>

      <!-- Main Dashboard Section -->
      <div class="col-lg-9">
        
        <main class="p-3">
          <%- include('../partials/messages') %>
            <div class="mb-5">
              <div class="table-responsive">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Status</th>
                      <th>Date & Time</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% applicationList.forEach(function(data, index) { %>
                      <tr>
                        <td><%= index + 1 %></td>
                        <td><%= data.status %></td>
                        <td><%= data.created_at.toLocaleString() %></td>
                        <td><a href="/admin/affiliate/applications/<%= data.id %>">View</a></td>
                      </tr>
                    <% }); %>
                  </tbody>
                </table>
              </div>
            
            </div>
        </main>

      </div>

    </div>
  </div>









 


