  <!-- Navbar -->
  <%-include('./partials/topnav') %>


  <!-- Sidebar -->
  <%-include('./partials/sidenav') %>

  <!-- Main Content -->
  <div class="container-fluid mt-4">
    <div class="row">
      <!-- Static Sidebar for desktop -->
      <div class="col-lg-3 d-none d-lg-block">
      <%-include('./partials/staticsidebar') %>
      </div>

      <!-- Main Dashboard Section -->
      <div class="col-lg-9">
        <h2>Settings</h2>

        <main class="p-3">
          <%- include('../partials/messages') %>
           <!-- Toggle: Registration -->
              <form action="/admin/setting/toggle/is_registration_open" method="POST" class="mb-4">
                <input type="hidden" name="_method" value="PUT">
                <div class="form-check form-switch">
                  <input 
                    class="form-check-input" 
                    type="checkbox" 
                    id="toggleRegistration" 
                    name="toggle" 
                    onchange="this.form.submit()" 
                    <%= settings.is_registration_open ? 'checked' : '' %>
                  >
                  <label class="form-check-label" for="toggleRegistration">
                    Registration <%= settings.is_registration_open ? 'Enabled' : 'Disabled' %>
                  </label>
                </div>
              </form>

              <!-- Toggle: Payment -->
              <form action="/admin/setting/toggle/is_payment_open" method="POST">
                <input type="hidden" name="_method" value="PUT">
                <div class="form-check form-switch">
                  <input 
                    class="form-check-input" 
                    type="checkbox" 
                    id="togglePayment" 
                    name="toggle" 
                    onchange="this.form.submit()" 
                    <%= settings.is_payment_open ? 'checked' : '' %>
                  >
                  <label class="form-check-label" for="togglePayment">
                    Payment <%= settings.is_payment_open ? 'Enabled' : 'Disabled' %>
                  </label>
                </div>
              </form>
        </main>

      </div>

    </div>
  </div>

