

  <!-- Navbar -->
  <%-include('./partials/topnav') %>


  <!-- Sidebar -->
  <%-include('./partials/sidenav') %>

  <!-- Main Content -->
  <div class="container-fluid mt-4">
    <div class="row">
      <!-- Static Sidebar for desktop -->
      <div class="col-lg-3 d-none d-lg-block">
      <%-include('./partials/staticsidebar') %>
      </div>

      <!-- Main Dashboard Section -->
      <div class="col-lg-9">

        <main class="p-1">
          <%- include('../partials/messages') %>


              <div class="bg-white shadow-sm p-3 rounded mb-4">
                <h5>My assigned Courses</h5>
                <div class="row">
                  <% courses.forEach(function(data, index) { %>
                  <div class="col-md-6 col-lg-3 mb-3">
                    <div class="border p-3 rounded h-100 d-flex flex-column justify-content-between"  data-aos="fade" data-aos-delay="<%= (index + 1) * 100 %>">
                      <div>
                        <p class="mb-1 text-truncate"><%= data.title %></p>
                        <p class="mb-1 text-truncate"><%= data.description %></p>
                        <small><%= data.created_at.toLocaleString('en-US', {
                          year: 'numeric',
                          month: 'long',
                          day: 'numeric',
                          hour: 'numeric',
                          minute: '2-digit'
                        }) %></small>
                      </div>
                      <a href="/teacher/course/class/<%= data.id %>" class="btn btn-sm btn-outline-secondary mt-2">View Classes</a>
                    </div>
                  </div>
                  <% }) %>
                </div>
              </div>
        
        </main>

      </div>

    </div>
  </div>

