  <!-- Navbar -->
  <%-include('./partials/topnav') %>
  
  <!-- Sidebar -->
  <%-include('./partials/sidenav') %>
  

  <!-- Main Content -->
  <div class="container-fluid mt-4">
    <div class="row">
      <!-- Static Sidebar for desktop -->
      <div class="col-lg-3 d-none d-lg-block">
        <%-include('./partials/staticsidebar') %>
         <!-- Sidebar -->
        </div>

      <!-- Main Dashboard Section -->
      <div class="col-lg-9">

        <main class="p-0">
        
          <%- include('../partials/messages') %>
          <!-- Stats -->         

              <div class="bg-white shadow-sm p-2 rounded mb-4">
                <h5>Avialable Courses For This Edition</h5>
                 <div class="row">                          
              <% courses.forEach(function(data, index) { %>
                <div class="col-md-3 mb-3">
                  <div class="p-3 border rounded shadow-sm class-card d-flex flex-column justify-content-between" data-aos="fade" data-aos-delay="<%= (index + 1) * 100 %>">

                    <!-- Middle: Title and Date -->
                    <div class="mb-2">
                      <h6 class="mb-1 text-truncate" title="<%= data.title %>"><%= data.title %></h6>
                      <p class="mb-1 text-truncate" style="font-size: 13px;" title="<%= data.title %>"><%= data.description %></p>
                      <p class="mb-1 text-truncate" style="font-size: 11px;" title="<%= data.title %>">Total Classes: <%= data.total || 'not provided' %></p>
                      <p class="text-muted small mb-0" style="font-size: 11px;">
                        <%= new Date(data.created_at).toLocaleString('en-US', {
                          year: 'numeric',
                          month: 'long',
                          day: 'numeric',
                          hour: 'numeric',
                          minute: '2-digit'
                        }) %>
                      </p>
                    </div>

                    <!-- Bottom: Actions -->
                    <div class="d-flex justify-content-between">
                      <a href="/user/course/<%= data.id %>" class="btn btn-sm btn-outline-dark">View Classes</a>
                    </div>

                  </div>
                </div>
              <% }) %>
              </div>

              </div>
        
        </main>

      </div>

    </div>
  </div>




