<!-- Navbar -->
<%-include('./partials/topnav') %>

<!-- Sidebar -->
<%-include('./partials/sidenav') %>

<!-- Main Content -->
<div class="container-fluid mt-4">
 

  <div class="row">
    <!-- Static Sidebar for desktop -->
    <div class="col-lg-3 d-none d-lg-block">
      <%-include('./partials/staticsidebar') %>
    </div>

    <!-- Main Dashboard Section -->
    <div class="col-lg-9">
      <main class="p-0">
         <!-- Welcome Banner -->
  <div class="bg-grad text-center text-white rounded p-4 mb-4 shadow-sm">
    <div class="text-center">
        <p>All Categories</p>
          <hr>
      <p class="mb-0">Welcome <%= user.full_name %>!</p>
    </div>
  </div>
        <%- include('../partials/messages') %>

        <div class="mb-4">
           <div class="row">
             <%- include('../partials/courses') %>



           </div>

        </div>
      </main>
    </div>
  </div>
</div>


